/* Navbar Container */
.navbar {
    @apply glass-effect fixev w-full z-50;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

/*Logo Styling */
.logo {
    font-size: 1.5rem;
    color: var(--color-accent);
    font-weight: bold;
}

.logo:hover {
    transform: scale(1.05);
}

/* Navigation links container */ 
.NavLinks {
    display: flex;
    gap: 1rem;
}

.NavLink {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
    @apply text-[var(--color-light)] hover:text-[var(--color-accent)] transition-colors duration-300;
}

.NavLink::after {
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-[var(--color-accent)] transition-all duration-300;
    content: '';
}

.NavLink:hover::after,
.NavLink:focus-visible::after {
    @apply w-full;
}

.toogle {
    @apply text-light hover: text-accent;
    transition: all 0.3s ease;
}

.themeToggle {
    @apply text-light hover:text-accent;
    transition: transform 0.3s ease;
}

.themeToggle:hover {
    transform: rotate(15deg);
}

.mobileNav {
    @apply overflow-hidden max-h-0 transition-all duration 300;
}

.mobileNav.show {
    @apply max-h-96;
}

@media (prefers-reduced-motion: reduce) {
    .navbar,
    .logo,
    .NavLink::after,
    .toogle,
    .themeToggle,
    .mobileNav {
        transition: none !import;
    }
}